@model List<Movie>
    
<div class="text-center">
    <h1 class="display-4">Peliculas</h1>
   
</div>

<ul>
    @foreach (var item in Model)
    {
       <li><a asp-action="Detail" asp-route-code="@item.Code">@item.Name</a></li> 
       <!--aca dice item.code porque usa el Get de Service-->
    }
</ul>

<a asp-action="Create">Nueva Peli</a>  <!-- esto va para el servicio create-->